:root {
    --primaria: #0b090a;
    --secundaria: #6930c3;
    --tercearia: #f5f3f4;
    --quaternaria: #dab6fc;

    --amareloTom1: #ffff3f;
    --amareloTom2: #eeef20;
    --verdeTom1: #80b918;
    --verdeTom2: #bfd200;
    
    --completeTaskButtonFontColor: #81b91880;
    --saveButtonFontColor: #f5f3f475;

}